.rate{
    padding: 1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
}

@media (max-width:768px){
    .rate{
        padding: .5rem;
    }
}