<div class="card shadow text-center h-100 position-relative" >
  <div class="image" [ngClass]="product.id?'':'placeholder'">
    <a [routerLink]="['details', product.id]" class="h-100">
      <img [src]="product.image" class="card-img-top m-auto h-100" alt="...">
    </a>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="stok" [ngClass]="product.count ? 'text-success' :'text-danger'">
        <span *ngIf="product.count">in stok</span>
        <span *ngIf="!product.count">out of stok</span>
      </h5>
      <button class="btn heartBtn" [ngClass]="checkExit?'opacity-100':'opacity-50'"  (click)="UpdateWishList()">
        <fa-icon [icon]="wishProduct"></fa-icon>
      </button>
    </div>

    <h4 class="text-info" [ngClass]="product.id?'':'placeholder'">{{product.price |currency :"EGP":"EGP":"2.2":"fr" }}</h4>
    <h4 class="name" [ngClass]="product.id?'':'placeholder'">{{product.name | slice:0:15}}</h4>
    <div class="price d-flex justify-content-between align-items-center">
    </div>
    <button class="btn btn-info text-white" [disabled]="!product.count" (click)="addProduvt()">Add to Cart</button>
    <p [ngClass]="product.id?'':'placeholder'">{{product.createdAt | date :'MMMM YYYY'}}</p>
    <!-- <p class="card-text">{{product.description}}</p> -->


  </div>
</div>