

 .image{
   height:240px;
 }

 @media(max-width:786px){
   .image{
      height:340px;
    }
 }
 @media(max-width:546px){
   .image{
      height:240px;
    }
 }

.heartBtn {
   font-size: 2rem;
   color: red;
}
 