<div class="container my-5">
  <div class="row g-4">
    <!-- <div class="spinner d-flex justify-content-center pt-5" *ngIf="check">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div> -->
    <!-- this build by interceptor loader -->
    <!-- <app-loader></app-loader> -->

    <div class="col-lg-4 col-md-6" *ngFor="let product of products">
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>

</div>